<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>
    style 
        include ../static/style.css 
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">About us</a></li>
            <li><a href="/">Contuct us</a></li>
        </ul>
    </nav>

    <div class="container">

        
        <!-- using pug -->
        <h1>Get the free gym menbership</h1>
        <p>
           
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis fugit dolores, repudiandae maiores minima quo nisi quos labore illo aut, qui modi provident quia distinctio nostrum est rerum. Aspernatur iure iusto facere amet.
        </p>

        <form action="/" method="POST" id="contant">
        <input type="text" name="name" placeholder="Enter your name: ">
        <input type="number" name="age" placeholder="Enter your age: ">
        <input type="email" name="email" placeholder="Enter your email: ">
        <input type="text" name="gender" placeholder="Enter your gender: ">
        <textarea name="about" id="" cols="30" rows="10" placeholder="tell us about your bio"></textarea>
        <button type="submit" class="btn">Submit</button>
        </form>
    </div>

    </body>
</html>